body{

font-family:'Segoe UI';
background:
linear-gradient(135deg,#071952,#088395);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:white;

}



.game{

width:500px;

background:#ffffff20;

padding:30px;

border-radius:20px;

backdrop-filter:blur(10px);

box-shadow:0 10px 30px black;

}



h1{

text-align:center;

color:#FFD93D;

}



input{

width:90%;

padding:12px;

border-radius:10px;

border:none;

}



button{

margin-top:20px;

padding:12px 20px;

border:none;

border-radius:20px;

background:#FFD93D;

cursor:pointer;

font-weight:bold;

}



button:hover{

transform:scale(1.05);

}



.choice{

display:block;

width:100%;

margin:10px;

background:#00DFA2;

}



.hidden{

display:none;

}
